body {
  height: 100vh;
  margin: 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px 2px 5px;
  border-bottom: 1px solid lightgray;
}
#nav-title {
  margin: 0px;
}

#nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0%;
}

#nav-list > li:not(:last-child) {
  margin: 0px 8px 0px 0px;
}

#search-input {
  margin-right: 2px;
}
