html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 5px 2px 5px;
  border-bottom: 1px solid lightgray;
}

.multi-level,
.item ul,
.nav input[type="checkbox"] {
  display: none;
}
#menu:checked ~ .multi-level,
.item input:checked ~ ul {
  display: block;
}

.arrow {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin: 17px 1em 0 2em;
}
.item input + .arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}
.item input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}

label:hover {
  cursor: pointer;
}
label {
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
}

.nav {
  background-color: white;
  overflow-x: hidden;
}

.nav ul,
.nav li,
label {
  line-height: 50px;
  margin: 0;
  padding: 0 2em;
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
}

.item ul {
  padding: 0 0.25em;
}
.nav li a {
  line-height: 50px;
  margin: 0;
  padding: 0 4em;
  list-style: none;
  text-decoration: none;
  color: #90a4ae;
  font-weight: 100;
}

#nav-title {
  margin: 0px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
}

#nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px 0px;
  padding: 0%;
}

#nav-list > li:not(:last-child) {
  margin: 0px 8px 0px 0px;
}

#search-input {
  margin-right: 2px;
}
